body {
    font-family: "ab_newutclassiclight", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif
}
img {
    width: 50vw;
}
.float{
    float: left;
}
.svg {
    position: absolute;
    top: 8px;
    bottom: 0;
    right: 0;
    left: 45%;
    width: 111%;
    height: 100%;
    background-image: linear-gradient(#F4EEE2, #F4EEE2);
    transform: skewX(-5deg);
    transform-origin: top left;
    height: 90vh;
}   
.text {
    width: 62%;   
}
.text h1{
        transform: skewY(0deg);
        transform-origin: top left;
        margin: 54px 0px 20px;
}
.straight{
    position: relative;
    top: 16px;
    left: 10%;
    width: 100%;
    height: 100%;
    transform: skewX(5deg);
    transform-origin: top left;
    height: 40vh;
    margin: 0px 20px;
}
@media (max-width: 1440px){
    .svg {
        height: 
        72vh;
    }
}

@media (max-width: 1024px){
    .svg {
        height: 53vh;
    }
}
@media (max-width: 768px){
    .svg {
        height: 43vh;
    }
}
@media (max-width: 425px){
    body {
        
    }

    img{
        width: 64vw;
        margin: -7px;
    }
    .svg {
        position: absolute;
        top: 19vh;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(#F4EEE2, #F4EEE2);
        transform: skewY(-5deg);
        transform-origin: top left;
        height: 67vh;
    }   
    .text h1{
        transform: skewY(0deg);
        transform-origin: top left;
        margin: 54px 0px 20px;
        font-size: 1.5rem;

    }
    .straight{
        transform: skewY(5deg);
        left: 3%;
    }
    p{
        width: 80%;
        font-size: 0.8rem;
    }
}
@media (min-width: 426px){
    p{
        width: 45%;
    }
}

@media (max-width: 320px){
    .svg{
        top: 15vh;
    }
}